In [ ]:
import pandas as pd

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

In [ ]:
#Lecture du Dataset Twitter
df = pd.read_csv("https://github.com/murpi/wilddata/raw/master/quests/tweets.zip")

In [ ]:
df.head()

,textID,text,selected_text,sentiment
0,cb774db0d1,"I`d have responded, if I were going","I`d have responded, if I were going",neutral
1,549e992a42,Sooo SAD I will miss you here in San Diego!!!,Sooo SAD,negative
2,088c60f138,my boss is bullying me...,bullying me,negative
3,9642c003ef,what interview! leave me alone,leave me alone,negative
4,358bd9e861,"Sons of ****, why couldn`t they put them on t...","Sons of ****,",negative

In [ ]:
#Suppression des lignes o√π le sentiment est neutre
df=df[df['sentiment']!='neutral']

In [ ]:
#Pourcentage des sentiments n√©gatives et positives
df['sentiment'].value_counts(normalize=True)*100

positive    52.447595
negative    47.552405
Name: sentiment, dtype: float64

In [ ]:
X=df['text']

In [ ]:
y=df['sentiment']

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
#Cr√©ation des √©chantillones d'entrainement et de test
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=35,train_size=0.75)

In [ ]:
#Cr√©ation d'un vectorizer en supprimant les stopwords anglais et en acceptant les monogrammes et bigrammes
vectorizer = CountVectorizer(stop_words='english', ngram_range=(1,2))

In [ ]:
vectorizer.fit(X_train)

CountVectorizer(ngram_range=(1, 2), stop_words='english')

In [ ]:
X_train_CV=vectorizer.transform(X_train)

In [ ]:
X_test_CV=vectorizer.transform(X_test)

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
#Construction d'un mod√®le de Regression Logistique
model = LogisticRegression(max_iter=150).fit(X_train_CV, y_train)

print(f"Accuracy score on the train dataset: {model.score(X_train_CV, y_train)}")
print(f"Accuracy score on the test dataset: {model.score(X_test_CV, y_test)}")

Accuracy score on the train dataset: 0.991851368970013
Accuracy score on the test dataset: 0.8765582987044732

Manipulation du CountVectorizer()

In [ ]:
df=pd.DataFrame([[0,"It is good"],
[1,	"It is not good"],
[2,	"Do you like apples?"],
[3,	"I like apples."]], columns=('index','sentence'))

In [ ]:
df

   index             sentence
0      0           It is good
1      1       It is not good
2      2  Do you like apples?
3      3       I like apples.

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer(ngram_range=(2,2))
vectorizer.fit(df['sentence'])

CountVectorizer(ngram_range=(2, 2))

In [ ]:
#Sortir les noms des colonnes
vectorizer.get_feature_names_out()

array(['do you', 'is good', 'is not', 'it is', 'like apples', 'not good',
       'you like'], dtype=object)

In [ ]:
#Visualisation de la matrice creuse cr√©√©e suite √† la vectorisation des phrases 
sparse_matrix=vectorizer.transform(df['sentence'])
sparse_matrix.toarray()

array([[0, 0, 1, 1, 1, 0, 0, 0],
       [0, 0, 1, 1, 1, 0, 1, 0],
       [1, 1, 0, 0, 0, 1, 0, 1],
       [1, 0, 0, 0, 0, 1, 0, 0]])

In [ ]:
df.loc[4]=[4,'what is the apple?']
vectorizer.fit(df['sentence'])
sparse_matrix = vectorizer.transform(df['sentence'])

In [ ]:
vectorizer.get_feature_names_out()

array(['apple', 'apples', 'do', 'good', 'is', 'it', 'like', 'not', 'the',
       'what', 'you'], dtype=object)

In [ ]:
#Visualisation de la matrice creuse cr√©√©e suite √† la vectorisation des phrases 
#On remarque que la matrice est plus grande
sparse_matrix.toarray()

array([[0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0],
       [0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0],
       [0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1],
       [0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0],
       [1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0]])